<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card mb-3">
                <img src="<%= campground.image %>" alt="<%= campground.image %>" class="card-img-top">
                <div class="card-body">
                    <h5 class="float-right">$9.99/night</h4>
                    <h4 class="card-title"><a href=""><%= campground.name %></a></h3>
                    <p class="card-text"><%= campground.desc %></p>
                    <p class="card-subtitle text-muted"><em>Submitted By <%= campground.author.username %></em></p>
                    <% if (currentUser && campground.author.id.equals(currentUser._id)) { %>
                        <a class="btn btn-warning btn-sm" href="/campgrounds/<%= campground.id %>/edit">Edit</a>
                        <form class="delete-form" action="/campgrounds/<%= campground.id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="text-right">
                        <a class="btn btn-success" href="/campgrounds/<%= campground.id %>/comments/new">Add a Comment</a>
                    </div>
                    <hr>
                    <div class="list-group list-group-flush">
                        <% campground.comments.forEach(comment => { %>
                            <div class="list-group-item">
                                <strong><%= comment.author.username %></strong>
                                <span class="float-right">10 days ago</span>
                                <p><%= comment.text %></p>
                                <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                                <a href="/campgrounds/<%= campground.id %>/comments/<%= comment.id %>/edit" class="btn btn-sm btn-warning">Edit</a>
                                <form action="/campgrounds/<%= campground.id %>/comments/<%= comment.id %>?_method=DELETE" method="POST" class="delete-form">
                                    <button class="btn btn-danger btn-sm">Delete</button>
                                </form>
                                <% } %>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<%- include("../partials/footer") %>